---
import ContentSection from './Base.astro';

interface TeamMember {
  name: string;
  description: string;
  avatar: string;
  twitter: string;
  website: string;
  twitch?: string;
  youtube?: string;
  decreasedFontSize?: boolean;
}

const team: TeamMember[] = [
  {
    name: 'Maciej Pędzich',
    description: 'Vuenthusiast commonly known as "Mac"',
    avatar: '/avatars/mac.png',
    twitter: 'https://twitter.com/MaciejPedzich',
    website: 'https://maciejpedzi.ch'
  },
  {
    name: 'Austin Gil',
    avatar: '/avatars/austin.jpg',
    description: 'Creator of Vuetensils component library',
    twitter: 'https://twitter.com/heyAustinGil',
    twitch: 'https://www.twitch.tv/heyaustingil',
    website: 'https://austingil.com'
  },
  {
    name: 'Michael Thiessen',
    avatar: '/avatars/michael.png',
    description: 'Mastering Nuxt 3 course teacher',
    twitter: 'https://twitter.com/MichaelThiessen',
    website: 'https://michaelnthiessen.com'
  },
  {
    name: 'Matt Maribojoc',
    avatar: '/avatars/matt.jpg',
    description: 'Vue Storefront DX Team and Creator of LearnVue',
    twitter: 'https://twitter.com/mattmaribojoc',
    youtube: 'https://www.youtube.com/learnvue',
    website: 'https://learnvue.co'
  },
  {
    name: 'Daniel Kelly',
    avatar: '/avatars/daniel.jpg',
    description: 'Lead Instructor at Vue School',
    twitter: 'https://twitter.com/danielkelly_io',
    website: 'https://danielkelly.io'
  },
  {
    name: 'Markus Oberlehner',
    avatar: '/avatars/markus.jpg',
    description: 'Creator of vue-lazy-hydration library',
    twitter: 'https://twitter.com/MaOberlehner',
    website: 'https://markus.oberlehner.net',
    decreasedFontSize: true
  },
  {
    name: 'Marc Backes',
    avatar: '/avatars/marc.jpg',
    description: 'DevRel Lead at WeAreDevelopers',
    twitter: 'https://twitter.com/themarcba',
    website: 'https://marc.dev'
  }
];
---

<ContentSection
  id="meet-the-team"
  title="Meet The Team"
  description="Advent of Vue was made possible by these amazing people:"
>
  <div
    class="grid gap-11 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 m-10 md:mt-6 lg:mt-10 z-10"
  >
    {
      team.map((member) => (
        <div class="card card-compact w-full p-3 text-center bg-base-200 shadow-xl z-10">
          <figure class="max-w-md h-auto p-5 pb-2">
            <img
              class="rounded-md shadow-2xl"
              src={member.avatar}
              alt={'Avatar of ' + member.name}
              loading="lazy"
            />
          </figure>
          <div class="card-body items-stretch">
            <h3
              class:list={[
                'card-title justify-center',
                member.decreasedFontSize ? 'text-xl' : 'text-2xl'
              ]}
            >
              {member.name}
            </h3>
            <div
              class:list={['flex-1 flex justify-center items-center text-lg']}
            >
              {member.description}
            </div>
            <div class="card-actions text-2xl pt-3 gap-4 items-center justify-center">
              <a
                href={member.twitter}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-[#1da1f2]"
              >
                <i class="fa-brands fa-twitter" />
              </a>
              {member.youtube && (
                <a
                  href={member.youtube}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:text-[#ff0000]"
                >
                  <i class="fa-brands fa-youtube" />
                </a>
              )}
              {member.twitch && (
                <a
                  href={member.twitch}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:text-[#9146ff]"
                >
                  <i class="fa-brands fa-twitch" />
                </a>
              )}
              <a
                href={member.website}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-primary"
              >
                <i class="fa-solid fa-globe" />
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</ContentSection>
