---
import ContentSection from './Base.astro';

interface TeamMember {
  name: string;
  tagline: string;
  avatar: string;
  twitter: string;
  website: string;
  decreasedHeaderSize?: boolean;
}

const team: TeamMember[] = [
  {
    name: 'Matt Maribojoc',
    avatar: '/avatars/matt.jpg',
    tagline: 'Vue Storefront DX Team and creator of LearnVue',
    twitter: 'https://twitter.com/mattmaribojoc',
    website: 'https://learnvue.co'
  },
  {
    name: 'Michael Thiessen',
    avatar: '/avatars/michael.png',
    tagline: 'Vue content creator and educator',
    twitter: 'https://twitter.com/MichaelThiessen',
    website: 'https://michaelnthiessen.com'
  },
  {
    name: 'Jessica Sachs',
    avatar: '/avatars/jess.jpg',
    tagline: 'Staff Software Engineer at PathAI',
    twitter: 'https://twitter.com/_jessicasachs',
    website: 'https://jess.sh'
  },
  {
    name: 'Marc Backes',
    avatar: '/avatars/marc.jpg',
    tagline: 'DevRel Lead at WeAreDevelopers',
    twitter: 'https://twitter.com/themarcba',
    website: 'https://marc.dev'
  },
  {
    name: 'Daniel Kelly',
    avatar: '/avatars/daniel.jpg',
    tagline: 'Lead Instructor at Vue School',
    twitter: 'https://twitter.com/danielkelly_io',
    website: 'https://danielkelly.io'
  },
  {
    name: 'Konstantin Bifert',
    avatar: '/avatars/konstantin.jpg',
    tagline: "Bridges' builder for the Vue community",
    twitter: 'https://twitter.com/kissu_io',
    website: 'https://kissu.io'
  },
  {
    name: 'Markus Oberlehner',
    avatar: '/avatars/markus.jpg',
    tagline: 'Creator of vue-lazy-hydration library',
    twitter: 'https://twitter.com/MaOberlehner',
    website: 'https://markus.oberlehner.net',
    decreasedHeaderSize: true
  },
  {
    name: 'Maciej Pędzich',
    tagline: 'Vuenthusiast commonly known as "Mac"',
    avatar: '/avatars/mac.png',
    twitter: 'https://twitter.com/MaciejPedzich',
    website: 'https://github.com/maciejpedzich'
  }
];
---

<ContentSection
  id="meet-the-team"
  title="Meet The Team"
  description="Advent Of Vue was made possible by these amazing people:"
>
  <div
    class="grid gap-11 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:m-10 m-8 z-10"
  >
    {
      team.map((member) => (
        <div class="card card-compact w-full p-3 text-center bg-base-200 shadow-xl z-10">
          <figure class="max-w-md h-auto p-5 pb-2">
            <img
              class="rounded-md shadow-2xl"
              loading="lazy"
              src={member.avatar}
              alt={`${member.name}'s avatar`}
            />
          </figure>
          <div class="card-body items-stretch">
            <h3
              class:list={[
                'card-title justify-center',
                member.decreasedHeaderSize ? 'text-[1.4rem]' : 'text-2xl'
              ]}
            >
              {member.name}
            </h3>
            <div class="flex-1 flex justify-center items-center text-lg">
              {member.tagline}
            </div>
            <div class="card-actions text-2xl pt-3 gap-5 items-center justify-center">
              <a
                href={member.twitter}
                class="hover:text-[#1da1f2] focus:text-[#1da1f2]"
                aria-label={`${member.name}'s Twitter page'`}
              >
                <i class="fa-brands fa-twitter" />
              </a>
              <a
                href={member.website}
                class="hover:text-primary focus:text-primary"
                aria-label={`${member.name}'s website`}
              >
                <i class="fa-solid fa-globe" />
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</ContentSection>
